<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Blog</h3>
  </div>
  <ul class="list-group">
    <% @docs.each do |doc| %>
      <li class="list-group-item title">
        <%= link_to doc.title, doc %>
      </li>
    <% end %>
  </ul>
</div>
